numpy
brotli
build
coverage
control
colour
docstring-expander
jupyterlab
matplotlib
nose
pandas
pip>20
pylint
python-libsbml
scikit-learn
seaborn
symmathSBML
#slycot
sympy
tellurium
toml
twine
urllib3
